body{
    background-color:grey;
}
canvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: 200px;
    margin-right: auto;
    display: block;
	background:lightblue;
}

#brentDiv{
	width:640px;
	height:640px;
	margin-left:auto;
	margin-right:auto;
}

#startbutton{
	width:50%;
	height:5%;
	display: block;
	margin-left:auto;
	margin-right:auto;
}

.uitleg{
	background-color:white;
	width:15%;
	padding-left:15px;
	padding-right:15px;
}

#uitleg1{
    background:#e3ebf8;
    box-shadow: 5px 5px 5px  #333333;
	float:left;
	position:relative;
	top:0;
	bottom:0;
	left:0;
}

#uitleg2{
    background:#e3ebf8;
    box-shadow: 5px 5px 5px  #333333;
	float:right;
	position:relative;
	top:0;
	bottom:0;
	right:0;
}
#winner{
    font-family:Verdana, Verdana, Geneva, sans-serif;
    color:#2f4f4f;
    width:640px;
    font-size:50px;
    margin-left:auto;
    margin-right:auto;
}
